@model Os

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">@ResourceWeb.CreateOs</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">@ResourceWeb.CreateOs</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ResourceWeb.CreateOs</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@ResourceWeb.CreateOs</h4>
                    <p class="card-description">@ResourceWeb.CreateOs</p>
                    <form class="forms-sample" method="post" enctype="multipart/form-data"
                          asp-controller="Os" asp-action="Save" role="form">

                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResourceWeb.OsName</label>
                            <input asp-for="OsName" type="text" class="form-control" placeholder="Os Name">
                            <span asp-validation-for="OsName" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="CurrentStatus" />

                        <button type="submit" formmethod="post" class="btn btn-gradient-primary me-2">Save</button>
                        <button class="btn btn-light">@ResourceWeb.Back</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}